#buddy{
	font-size: 20px;
	line-height: 1.6em;
	font-family: Atma;

	
}
.active{
	color: #ff0066!important;	

}
.gameplay{
	margin-top: 50px;
	margin-left: 50px;
}
#title{
	font-family: Chela One;
	text-align: center;
	text-transform: uppercase;
}
.game-panel{
	margin: 100px 200px;
	

}
.players-panel{
	min-width: 100%;
	height:600px;
	border:1px solid black;

}

.players{
	
	height: 100%;	
	position: relative;
}
.player-1-panel{

	
}
.player-2-panel{
	width: 50%;
	
	background-color: red;
}
#player-1{
	position: absolute;
	top: 20px;
	left: 85px;
}
.score-player-1{
	position: absolute;
	top: 100px;
	left: 50px;
	height: 180px;
	width: 220px;
	background-color: #ccc;
	border: 1px solid #333;
	text-align: center;
	box-sizing: border-box;
}
.current-score-player-1{
	position: absolute;
	bottom: 30px;
	left: 50px;
	height: 180px;
	width: 220px;
	background-color: #ccc;
	border: 1px solid #333;
	text-align: center;
	box-sizing: border-box;
}
#dice-image{
	position: absolute;
	top:20%;
	left:40%;
	width: 150px;
	height: 150px;
	text-align: center;
}
.middle{
	position: absolute;
	top:60%;
	left:40%;
	text-align: center;
}
#oops{
	display: none;
}

#dice{
	
	font-size:90px;
	color: red;
	text-align: center;
}
.button{
	padding: 20px 15px;
	background-color: #ff0066;
	color: #fff;
	font-size: 20px;
	border:none;
	font-family: Atma;

}
@media(max-width: 600px){
	#dice{
		width: 100%;
		float: none;
	}
	.players-panel{
		width: 100%;
		float: none;	
	}

}

#player-2{
	position: absolute;
	top: 20px;
	right: 85px;

}
.score-player-2{
	position: absolute;
	top: 100px;
	right: 50px;
	height: 180px;
	width: 220px;
	background-color: #ccc;
	border: 1px solid #333;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
}
.current-score-player-2{
	position: absolute;
	bottom: 30px;
	right: 50px;
	height: 180px;
	width: 220px;
	background-color: #ccc;
	border: 1px solid #333;
	text-align: center;
	box-sizing: border-box;
}